.loginForm{
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  h1{
    color: green;
  }
  form{
    display: flex;
    justify-content: center;
    .field{
      margin: 0 10px;
    }
  }
}